.row-header{
    margin:0px auto;
    padding:0px;
   
}

.jumbotron
{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #907fa4;
    color:floralwhite;

}

.row-content {
    margin:0px auto;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #907fa4;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.navbar-dark {
     background-color:#563d7c;
}

.carousel {
 
    background:#512DA8;
    margin: 0px;
    border: 10px;
  }
  
  .carousel-item {
  height: 300px;
  }
  
  .carousel-item img {
    position: absolute;
    min-height: 300px;
  }
.card{
    margin-top: 30px;

}